DJANGO_DEBUG=True
DJANGO_SECRET_KEY="DJANGO_SECRET_KEY"
DJANGO_HOSTS=localhost,127.0.0.1
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=foo_database
SQL_PORT=5432
SQL_USER=foo_username
SQL_PASSWORD=foo_password
SQL_HOST=Database
DATABASE=postgres

